<div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>CURP</td>
                        <td>Estado</td>
                        <td>Municipio</td>
                        <td>Usuario</td>
                        <td>Activo</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    {{#if data}}
                        {{#each data}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{lastname}}</td>
                            <td>{{curp}}</td>
                            <td>{{nombreEstado}}</td>
                            <td>{{nombreMunicipio}}</td>
                            <td>{{username}}</td>
                            <td>{{active}}</td>
                            <td>
                                {{#ifCond active '==' "Si"}}
                                    <a href="./deactivate/{{id}}" class="btn btn-danger">Desactivar</a>
                                {{/ifCond}}
                                {{#ifCond active '==' "No"}}
                                    <a href="./activate/{{id}}" class="btn btn-success">Activar</a>
                                {{/ifCond}}
                            </td>
                        </tr>
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="./search" method="POST">
                        <div class="form-group">
                            <input type="text" placeholder="Ej. Jose" valu="" name="toSearch" id="toSearch">
                        </div>
                        <button type="submit" class="btn btn-primary">Buscar nombre</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('toSearch').focus();
</script>